{% extends "base.html" %}
{% block title %}Archives by Year - {{ SITENAME }}{% endblock %}

{% block content %}
{% set years = ['2025', '2024', '2023', '2022', '2021', '2020', '2019', '2018',
                '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004'] %}

<section id="content" class="body">
  <h1>Archives by Year</h1>
  <ul>
    {% for year in years %}
      <li>
        <a href="{{ SITEURL }}/archives/{{ year }}.html">Archive {{ year }}</a>
      </li>
    {% endfor %}
  </ul>
</section>
{% endblock %}